.bar {
  height: 100%;
  position: absolute;
  left: 0;

  &--pdf {
    background-color: rgb(253, 173, 45);
  }

  &--jpeg {
    background-color: rgb(78, 128, 231);
  }

  &--adobe {
    background-color: rgb(241, 8, 120);
  }
}
