.drop-box {
  width: 100%;
  padding: 40px 35px;
  border-radius: 50px;
  border: 4px dashed rgb(177, 186, 204);
  background-color: rgba(241, 240, 240, 0.3);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.input {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
