.icon {
  width: 100%;

  &--theme-excel {
    svg {
      fill: rgb(61, 158, 15);
    }
  }

  &--theme-pdf {
    svg {
      fill: rgb(206, 3, 101);
    }
  }

  &--theme-jpeg {
    svg {
      fill: rgb(245, 215, 47);
    }
  }

  &--theme-word {
    svg {
      fill: rgb(41, 154, 199);
    }
  }

  &--theme-green {
    svg {
      fill: rgb(33, 209, 86);
    }
  }

  &--theme-red {
    svg {
      fill: rgb(214, 48, 45);
    }
  }

  &--theme-blue {
    svg {
      fill: rgb(0, 61, 184);
    }
  }

  &--size-small {
    svg {
      width: 17px;
    }
  }

  &--size-medium {
    svg {
      width: 35px;
    }
  }

  &--size-large {
    svg {
      width: 50px;
    }
  }
}
